@import 'normalize.css/normalize.css';

body {
  margin: 0;
  height: 100vh;
  font-weight: 500;
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  line-height: 20px;
  background: #fff;
  font-variant-ligatures: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
  outline: none;
}
#app {
  height: 100%;
}

.page {
  display: flex;
  padding: 50px 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}
