.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 16px;
  border: 1px solid #f0f0f0;

  & + & {
    margin-top: 16px;
  }
}

.left {
  width: calc(100% - 30px);
}

.status {
  color: #666;
  font-size: 14px;
}

.remove {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease;
  opacity: 0.2;

  &:hover {
    opacity: 0.5;
  }
}
